{% extends 'article/base.html' %}


{% block content %}
    <section class="container">
        <div class="content-wrap">
            <div class="content">
                <header class="article-header">
                    <h1 class="article-title"><a href="">{{ content.title }}</a></h1>
                    <div class="article-meta">
                        <span class="item article-meta-time">
                              <time class="time" data-toggle="tooltip" data-placement="bottom"
                                    title="{{ content.created_time }}"><i
                                      class="glyphicon glyphicon-time"></i> {{ content.created_time }}
                              </time>
                        </span>

                        <span class="item article-meta-source" data-toggle="tooltip" data-placement="bottom"
                              title="{{ content.author }}"><i
                                class="glyphicon glyphicon-globe"></i> {{ content.author }}
                        </span>

                        <span
                                class="item article-meta-category" data-toggle="tooltip" data-placement="bottom"
                                title="栏目：{{ content.blog_type }}">
                            <i class="glyphicon glyphicon-list"></i>
                            <a href="program" title="">{{ content.blog_type }}</a>
                        </span>

                        <span class="item article-meta-views" data-toggle="tooltip" data-placement="bottom"
                              title="查看：{{ content.get_read_num }}"><i
                                class="glyphicon glyphicon-eye-open"></i> {{ content.get_read_num }}
                        </span>
                        <span
                                class="item article-meta-comment" data-toggle="tooltip" data-placement="bottom"
                                title="评论：0"><i class="glyphicon glyphicon-comment"></i> 0个不明物体
                        </span>
                    </div>
                </header>
                <article class="article-content">
                    <p><img data-original=" /static/{{ content.blog_type.type_images }}"
                            src=" /static/{{ content.blog_type.type_images }}" alt=""/></p>

                    <pre class="prettyprint lang-php">
                        {{ content.content|safe }}
                    </pre>

                    <p class="article-copyright hidden-xs">未经允许不得转载：<a href="">浮生六意博客</a> » <a href="article.html">{{ content.title }}</a>
                    </p>
                </article>
                <div class="article-tags">标签：<a href="" rel="tag">{{ content.blog_type }}</a></div>
                <div class="title" id="comment">
                    <h3>评论
                        <small>抢沙发</small>
                    </h3>
                </div>
                <div id="respond">
                    <form method="post" id="comment_form">
                        {% csrf_token %}
                        <div class="comment">
                            <div class="comment-title">
                                <img class="avatar" src="/static/article/images/icon/icon.png" alt=""/>
                            </div>
                            <div class="comment-box" id="comments">
                                                    <textarea placeholder="想对作者说点什么:" name="comment"
                                                              id="comment-textarea" cols="100%"
                                                              rows="3" tabindex="1" autofocus></textarea>
                                {##}
                                {#                                <div class="comment-ctrl"><span class="emotion"><img#}
                                {#                                        src="/static/article/images/face/5.png" width="20"#}
                                {#                                        height="20" alt=""/>表情</span></div>#}

                                <div class="comment-prompt">
                                    <i class="fa fa-spin fa-circle-o-notch"></i>
                                    <span class="comment-prompt-text"></span>
                                </div>

                                <input type="hidden" name="object_id" id="object_id" value="{{ content.pk }}">
                                <input type="hidden" name="content_type" id="content_type" value="blog">
                                <input type="hidden" name="username" id="username"
                                       value="{{ request.COOKIES.username }}">
                                <input type="hidden" name="reply_comment_id" value="0" id="reply_comment_id">
                                <input type="submit" tabindex="5" id="comment-submit" name="comment-submit"
                                       articleid="1" value="评论"/>

                            </div>
                        </div>
                    </form>
                </div>
                {% if comments %}
                    {% for comment in comments %}
                        <div class="text">
                            <div id="postcomments">
                                <ol class="commentlist">
                                    <li class="comment-content"><span class="comment-f"></span>
                                        <div class="comment-avatar"><img class="avatar"
                                                                         src="/static/article/images/icon/icon.png"
                                                                         alt=""/>
                                        </div>
                                        <div class="comment-main">
                                            <p>来自<span class="address">{{ comment.user.username }}</span>的用户<span
                                                    class="time">{{ comment.comment_time|date:'Y-m-d' }}</span>

                                                <br/>
                                            <div id="comment_{{ comment.pk }}">{{ comment.text|safe }}</div>
                                            {#                                                {{ comment.text|safe }}#}
                                            <button type="button"
                                                    onclick="reply({{ comment.pk }},'{{ comment.user.username }}')"
                                                    class="btn btn-info btn-sm" style="float: right;">回复
                                            </button>
                                            </p>
                                        </div>
                                        {% if comment.root_comment.all %}
                                            {% for reply in comment.root_comment.all %}
                                                <div style="padding-left: 50px;">
                                                    <div class="comment-avatar"><img class="avatar"
                                                                                     src="/static/article/images/icon/icon.png"
                                                                                     alt=""/>
                                                    </div>
                                                    <div class="comment-main">
                                                        <p><span
                                                                class="address">{{ reply.user.username }}回复给{{ comment.user.username }}</span>:<span
                                                                class="time">{{ reply.comment_time|date:'Y-m-d' }}</span><br/>
                                                        <div id="comment_{{ reply.pk }}">{{ reply.text|safe }}</div>
                                                        <button type="button"
                                                                onclick="reply({{ reply.id }},'{{ reply.user.username }}')"
                                                                class="btn btn-info btn-sm" style="float: right;">回复
                                                        </button>
                                                        </p>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                        {% endif %}
                                    </li>
                                </ol>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}

                {% endif %}
                <div class="quotes"><span class="disabled">首页</span><span class="disabled">上一页</span><a
                        class="current">1</a><a href="">2</a><span class="disabled">下一页</span><span
                        class="disabled">尾页</span></div>
            </div>
        </div>
        <aside class="sidebar">
            <div class="fixed">
                <div class="widget widget-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#notice" aria-controls="notice"
                                                                  role="tab"
                                                                  data-toggle="tab">网站公告</a></li>
                        <li role="presentation"><a href="#centre" aria-controls="centre" role="tab"
                                                   data-toggle="tab">会员中心</a>
                        </li>
                        <li role="presentation"><a href="#contact" aria-controls="contact" role="tab"
                                                   data-toggle="tab">联系站长</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane notice active" id="notice">
                            <ul>
                                <li>
                                    <time datetime="2016-01-04">01-04</time>
                                    <a href="" target="_blank">欢迎访问异清轩博客</a></li>
                                <li>
                                    <time datetime="2016-01-04">01-04</time>
                                    <a target="_blank" href="">在这里可以看到前端技术，后端程序，网站内容管理系统等文章，还有我的程序人生！</a></li>
                                <li>
                                    <time datetime="2016-01-04">01-04</time>
                                    <a target="_blank" href="">在这个小工具中最多可以调用五条</a></li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane centre" id="centre">
                            <h4>需要登录才能进入会员中心</h4>
                            <p><a href="javascript:;" class="btn btn-primary">立即登录</a> <a href="javascript:;"
                                                                                          class="btn btn-default">现在注册</a>
                            </p>
                        </div>
                        <div role="tabpanel" class="tab-pane contact" id="contact">
                            <h2>Email:<br/>
                                <a href="mailto:admin@ylsat.com" data-toggle="tooltip" data-placement="bottom"
                                   title="admin@ylsat.com">admin@ylsat.com</a></h2>
                        </div>
                    </div>
                </div>
                <div class="widget widget_search">
                    <form class="navbar-form" action="/Search" method="post">
                        <div class="input-group">
                            <input type="text" name="keyword" class="form-control" size="35"
                                   placeholder="请输入关键字"
                                   maxlength="15" autocomplete="off">
                            <span class="input-group-btn">
            <button class="btn btn-default btn-search" name="search" type="submit">搜索</button>
            </span></div>
                    </form>
                </div>
            </div>
            <div class="widget widget_sentence">
                <h3>每日一句</h3>
                <div class="widget-sentence-content">
                    <h4>2016年01月05日星期二</h4>
                    <p>Do not let what you cannot do interfere with what you can do.<br/>
                        别让你不能做的事妨碍到你能做的事。（John Wooden）</p>
                </div>
            </div>
            {#今日热搜#}
            <div class="widget widget_hot">
                <h3>今日热门文章</h3>
                <ul>
                    {% if today_hot_data %}
                        {% for hot_data in today_hot_data %}
                            <li>
                                <a href="/article/details/{{ hot_data.pk }}/">
                                        <span class="thumbnail">
                                            <img class="thumb"
                                                 data-original="/static/article/images/hot.jpg"
                                                 src="/static/article/images/hot.jpg"
                                                 alt="">
                                        </span>
                                    <span class="text">
                                            {{ hot_data.content_object }}
                                        </span>
                                    <span class="muted">
                                            <i class="glyphicon glyphicon-time"></i>
                                            {{ hot_data.date }}
                                        </span>
                                    <span class="muted">
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                                    {{ hot_data.read_num }}
                                    </span>
                                </a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <div style="width: 100%;height: 100px;font-size: larger;text-align: center;vertical-align: center;line-height: 100px">
                            今日暂无!
                        </div>
                    {% endif %}


                </ul>
            </div>
        </aside>
    </section>
{% endblock %}



{% block script %}
    <script>
        $('#comment-textarea').click(function () {
            $.ajax({
                url: '/article/is_login/',
                type: 'post',
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (data) {
                    console.log(data)
                    var codes = data['code'];
                    if (codes == 400) {
                        $('#loginModal').modal('show')
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            })
        })
    </script>
    <script>

        $(function () {
            $("#comment-submit").click(function () {
                var commentContent = $("#comment-textarea");
                var commentButton = $("#comment-submit");
                var promptBox = $('.comment-prompt');
                var promptText = $('.comment-prompt-text');
                var articleid = $('.articleid').val();

                var object_id = $('#object_id').val();
                var content_type = $('#content_type').val();
                var username = $('#username').val();
                var parrent_username = $('#parrent_username').val();
                var reply_comment_id = $('#reply_comment_id').val();


                promptBox.fadeIn(400);
                if (commentContent.val() === '') {
                    promptText.text('请留下您的评论');
                    return false;
                }
                commentButton.attr('disabled', true);
                commentButton.addClass('disabled');
                promptText.text('正在提交...');
                $.ajax({
                    type: "POST",
                    url: '/comment/submit_comment/',
                    data: {
                        comment: replace_em(commentContent.val()),
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        object_id: object_id,
                        content_type: content_type,
                        username: username,
                        reply_comment_id: reply_comment_id,
                        parrent_username: parrent_username,

                    },
                    cache: false, //不缓存此页面
                    success: function (data) {
                        console.log(data);
                        promptText.text('评论成功!');
                        commentContent.val(null);
                        var comment_html = '<div id="postcomments">' +
                            '<ol class="commentlist"><li class="comment-content"><span class="comment-f"></span>' +
                            '<div class="comment-avatar"><img class="avatar" src="/static/article/images/icon/icon.png"alt=""/> </div>' +
                            '<div class="comment-main">' +
                            '<p>来自<span class="address">' + data['username'] + '</span>的用户<span class="time">' + data['comment_time'] + '</span><br/>' + data['text'] +
                            '</p>' +
                            '</div>' +
                            '</li>' + '</ol> </div>';
                        $(".text").prepend(comment_html);
                        commentButton.attr('disabled', false);
                        commentButton.removeClass('disabled');
                    },
                });
                promptBox.fadeOut(100);
                return false;
            });
        });
    </script>

    <script type="text/javascript">

        $("#comment-textarea").click(function () {
            var str = $("#comment").val();
            $("#show").html(replace_em(str));
        });


    </script>
    <script>
        function reply(reply_comment_id, parrent_usertname) {
            $('#reply_comment_id').val(reply_comment_id);
            var html = $('#comment_' + reply_comment_id).html();
            var comments = '<input type="hidden" name="parrent_username" id="parrent_username"' +
                'value="' + parrent_usertname + '">';
            $('#comments').prepend(comments);
            $('#reply_comment').html(html);
            $('html').animate({scrollTop: $('#comment_form').offset().top - 100}, 300, function () {
                $('#comment-textarea').focus()
            });
        }
    </script>

{% endblock %}